body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.cabecalho {
    background-color: rgb(199, 225, 247);
    padding: 20px 40px;
    display: flex;
    border-radius: 15px;
    margin: 20px;
    max-width: 53%;
    justify-content: space-between;
    align-items: center;
}

.falecomigo {
    background-color: rgb(20, 20, 136);
    color: white;
    padding: 6px 15px;
    border-radius: 25px;
    border: none;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 13px;
    position: relative;
    width: auto;
    display: inline-block;
}

.falecomigo .bolinha {
    background-color: white;
    color: rgb(20, 20, 136);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.ultimascompras {
    background-color: rgb(199, 225, 247);
    padding: 100px 40px;
    display: flex;
    border-radius: 15px;
    margin: 20px;
    max-width: 53%;
    position: relative;
}


.menu {
    background-color: rgb(199, 225, 247);
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-left: auto;
}

.menu Li {
    background-color: rgb(20, 20, 136);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    color: #ffffff;
    font-weight: 250;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu li span {
    background-color: white;
    color: rgb(20, 20, 136);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.ultimascompras {
    border-radius: 20px;
    padding: 120px 40px;
    display: flex;
    justify-content: space-between;
    

}

.h4_tela2 {
    color: rgb(20, 20, 136);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 25px;
    top: -5%;

}

.vertodas {
    color: rgb(20, 20, 136);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    right: 75px;
    top: 5%;

}
.seta {
    font-size: 32px;
    cursor: pointer;
    color: rgb(20, 20, 136);
}

.mais {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(20, 20, 136);
    cursor: pointer;
}


#main_1 {
    display: flex;
}

#nav_titulo_1 {
    background-color: rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;
    margin: 0;
    padding-left: 15px;
}

#div_nav_1 {
    padding: 10px;
    background: repeating-linear-gradient(-45deg, #cfd156c7, #dcee73 30px, #d1b724bb 30px, #e4a906b4 70px);
}

#aba_edicao_1 {
    background-color: rgb(226, 226, 226);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
    gap: 10px;
}

.botao_1 {
    padding: 5px;
    font-size: 20px;
}

.botao_1s {
    padding: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.429);
}

.separador1 {
    border: 1px solid rgba(148, 147, 147, 0.601);
    height: 35px;
}

#aba_navigation {
    width: 520px;
    border: 7px solid rgb(226, 226, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.navigation {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    justify-content: space-between;
    padding-left: 10px;
}

.navigation p {
    margin: 5px;
}

#navigation_bar {
    background-color: rgb(226, 226, 226);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 6px;
    gap: 6px;
}

.navigation_tab {
    width: 100%;
    border: 1px;
    border-color: black;
    border-collapse: collapse;
    font-size: 20px;
}

.navigation_tab th {
    background: #e6e6e6;
    padding: 6px;
    text-align: left;
    border: 1px solid #c0c0c0;
}

.navigation_tab td {
    padding: 6px;
    border: 1px solid #dcdcdc;
}

.navigation_tab tr:hover {
    background: #507ad68a;
}

.navigation_tab td:first-child,
.navigation_tab th:first-child {
    background: #e6e6e6;
    padding: 15px;
}



#lado_direito1 {
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    flex: 1;
}

.aba_overview {
    background: white;
    border: 1px solid #bbb;
}

.overview_titulo {
    display: flex;
    background: #e6e6e6;
    border-bottom: 1px solid #bbb;
    gap: 30px;
    padding-left: 30px;
    font-size: 25px;
}

#overview_bar {
    background-color: rgb(226, 226, 226);
    list-style: none;
    display: flex;
    margin: 0;
    padding: 6px;
    gap: 6px;
}

.overview_tab {
    width: 100%;
    border: 1px;
    border-color: black;
    border-collapse: collapse;
    font-size: 20px;
}

.overview_tab th {
    background: #e6e6e6;
    padding: 6px;
    text-align: left;
    border: 1px solid #c0c0c0;
}

.overview_tab td {
    padding: 6px;
    border: 1px solid #dcdcdc;
}

.navigation_tab tr:hover,
.overview_tab tr:hover {
    background: #90d6ffa1;
}

.overview_tab td:first-child,
.overview_tab th:first-child {
    background: #e6e6e6;
    padding: 15px;
}

#aba_attributes {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    margin: 0;
}

#attribute_titulo {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    border-bottom: 3px solid #0592ce;
}

.attributes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.attributes label {
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
    flex: 1;
}

.containers1 {
    display: flex;
}

.attributes_container1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.input_attributes {
    height: 25px;
    width: 400px;
}

button {
    cursor: pointer;
}